<style>
    @page { margin: 0; }
    body { 
        font-family: Arial, sans-serif; 
        width: 9cm; 
        height: 6cm; 
        margin: 0;
        padding: 5mm; /* Margem de segurança para a térmica não cortar */
        box-sizing: border-box;
    }
    .remetente {
        font-size: 8pt;
        border-bottom: 1px dashed #000;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .destinatario {
        font-size: 11pt;
    }
    .label { font-weight: bold; text-transform: uppercase; font-size: 9pt; }
    .nome { font-weight: bold; font-size: 11pt; margin-bottom: 2px; }
    .unidade { font-weight: bold; font-size: 10pt; margin-bottom: 2px; }
    .endereco { font-size: 10pt; margin-bottom: 2px; }
    .cidade { font-size: 10pt; margin-bottom: 2px; }
    .cep { font-weight: bold; font-size: 11pt; margin-bottom: 2px; }
</style>

<div class="remetente">
    <span class="label">Remetente:</span>
    <div class="unidade">CDIP Brasília</div>
    <div class="endereco">SIA Trecho 3, Lotes 710/740 - Brasília/DF</div>
    <div class="cidade"><span><strong>CEP:</strong></span> 71.200-983</div>
</div>

<div class="destinatario">
    <span class="label">Destinatário:</span>
    <div class="nome">AO GESTOR DO AR DIGITAL SE/SPM:</div>
    <div class="nome">Raul Wilson Santos Diogo</div>
    <div class="unidade">COPER/GEDIS/SUGED/SGED</div>
    <div class="endereco">Rua Mergenthaler 592, 23º Andar Bloco 3 Frente</div>
    <div class="cidade">Vila Leopoldina - São Paulo/SP</div>
    <div class="cep">CEP: 05.314-985</div>
    <!--
    <div class="nome"><?php $cliente['nome'] ?></div>
    <?php $cliente['endereco'] ?><br>
    <?php $cliente['cidade'] ?> / <?php $cliente['uf'] ?><br>
    <strong>CEP: <?php $cliente['cep'] ?></strong>
    -->
</div>